@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0B0E14;
}

.container{
    width: 1380px;
    margin: auto;
    z-index: 1;
}
.main-head{
    width: 100%;
    height: 75px;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 9999;
}
.main-head.slidedown{
    position: fixed;
    background: #fff;
    animation: slidedown .3s forwards;
}
@keyframes slidedown{
    from{
        top: -250px;
    }
    to{
        top: 0;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    }
}
.main-head .main-menu{
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-head .main-menu .logo{
    width: 30%;
     font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.main-head .main-menu .nav-menu{
    width: 70%;
}
.main-head .main-menu .nav-menu .nav-list{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.main-head .main-menu .nav-menu .nav-list .nav-list-item{
    padding: 20px 35px;
    list-style: none;
}
.main-head .main-menu .nav-menu .nav-list .nav-list-item .nav-link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    line-height: 20px;
    font-weight: 500;
    transition: all .1s ease;
}
.main-head.slidedown .main-menu .nav-menu .nav-list .nav-list-item .nav-link {
    color: #000;
}
.main-head .main-menu .nav-menu .nav-list .nav-list-item .nav-link:hover{
    color: #4DA3FF;
}
.main-head.slidedown .main-menu .logo{
    color: #000;
}
.main-head .main-menu .toggle-btn{
    display: none;
}